<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Genshin</a>
        <ul>
            <li><a href="/authors">Creators</a></li>
            <li><a href="/authors/new">New Creator</a></li>
            <li><a href="/books">Creation Showcase</a></li>
            <li><a href="/books/new">Add Creation</a></li>
        </ul>
    </nav>
</header>